################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesktopSistersCPP/v14
/Debug
/DesktopSistersCPP.VC.VC.opendb
/DesktopSistersCPP.VC.db
/Release
/ipch/DESKTOPSISTERSCPP-f1d1a109
/DesktopSistersCPP/Release
/DesktopSistersCPP/Debug
/DesktopSistersCPP/Wallpaper.bmp
/DesktopSistersCPP/Config.conf
